# Get im https://my.telegram.org
API_ID=""
API_HASH=""

# Get in @BotFather
BOT_TOKEN=""

# Get in https://www.mongodb.com
DATABASE_URL=""

# Group LOGS in Telegram
GBAN_LOGS=""
GP_LOGS=""

# Get in https://www.last.fm/en/api
LASTFM_API_KEY=""

# Get in https://www.pexels.com/api
PEXELS_API_KEY=""

# Get in @SpamWatchBOT
SW_API=""

# Private owner API
GSMARENA_API=""

# Get in @ARQRobot
ARQ_API_KEY=""