aiohttp
anyio==4.0.0
aiosqlite>=0.16.0,<0.20.0
async-lru==2.0.4
async-timeout
attrs==23.1.0
bs4
babel==2.13.1
certifi==2023.11.17
captcha
chardet==5.2.0
charset-normalizer==3.3.2
covid
dnspython
emoji-country-flag
esprima
filetype==1.2.0
fake_headers
Faker
git+https://github.com/kkroening/ffmpeg-python.git
geopy
GitPython
h11
h2==4.1.0
heroku3
hpack==4.0.0
httpcore
httpx[http2,socks]==0.25.1
hachoir
humanize==4.8.0
hyperframe==6.0.1
idna==3.4
lxml==4.9.3
multidict==6.0.4
motor
Pillow==10.1.0
pyaes==1.6.1
git+https://github.com/BubbalooTeam/pyrogram
PyroMod
stagger>=1.0.0
PySocks==1.7.1
pyyaml==6.0.1
python-dotenv==1.0.0
pymongo
pytube
python-rapidjson
requests==2.31.0
rfc3986==2.0.0
removebg>=0.4
rich==13.7.0
sniffio==1.3.0
shazamio
search_engine_parser
speedtest-cli
SpeechRecognition
spamwatch
pySmartDL
punctuator
telegraph
tracemoepy
tortoise-orm==0.20.0
transformers
TgCrypto==1.2.5
typing-extensions==4.8.0 
tortoise-orm==0.20.0
urllib3==2.1.0
ujson
yarl==1.9.3
wget
wikipedia
gpytranslate==1.5.1
yt-dlp==2023.11.16
psutil==5.9.6
zalgo_text
