aiohttp
anyio
aiosqlite
async-lru
async-timeout
attrs
bs4
babel
certifi
captcha
chardet
charset-normalizer
covid
dnspython
emoji-country-flag
esprima
filetype==1.2.0
fake_headers
Faker
geopy
GitPython
h11
h2
heroku3
hpack
httpcore
httpx[http2,socks]
hachoir
humanize
hydrogram
hyperframe
idna
lxml
multidict
motor
Pillow
pyaes
PyroMod
stagger
PySocks
pyyaml
python-dotenv
pymongo
pytube
python-rapidjson
requests
rfc3986
removebg
rich
sniffio
shazamio
search_engine_parser
speedtest-cli
SpeechRecognition
spamwatch
pySmartDL
punctuator
telegraph
tracemoepy
tortoise-orm
transformers
TgCrypto
typing-extensions
tortoise-orm
urllib3
ujson
yarl
wget
wikipedia
gpytranslate
yt-dlp
youtube-search-python
psutil
zalgo_text
